*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
.character{
    height: 100vh;
    width: 100%;
    background-image: url(/Images/Background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: #f9004d;
}

nav ul li{
    display: inline-block;
    list-style: none;
    padding: 10px 25px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #f9004d; 
    transition: .4s;
}
.detail{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    color: #fff;
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    color: white;
    margin-bottom: 50px;
}
h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
.btn{
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 10px 25px;
    font-weight: bold;
    display: inline-block;
    margin: 30px 0;
    border-radius: 30px;
    transition: .4s;
}
.btn:hover{
    transform: scale(1.2);
}
.about{
    width: 100%;
    padding: 80px 0px;
    background-color: #191919;
}
.about img{
    height: auto;
    width: 430px;
}
.about-txt{
    width: 650px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content: space-around;
}
.about-txt h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-txt h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-txt p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.about-txt p span{
    color: #f061b4;
}
button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.education{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card img{
    width: 15%;
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
h3{
    color: #ee2464;
    font-size: 25px;
    font-weight: bold;
}
ul li{
    list-style-type: none;
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 20px;
}
.skill{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}
.skill .card{
    height: auto;
    width: 500px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.skill h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.skill h4{
    margin: 5px;
    text-align: left;
}
.skill li{
    margin: 20px 0;
    padding: 10px;
}
.bar{
    background: #444444a2;
    display: block;
    height: 20px;
    border: 1px solid rgba(7, 5, 5, 0.733);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(56, 56, 56, 0.25), 0 10px 10px rgba(189, 186, 186, 0.22);
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(to right, rgb(238, 87, 157) , #f9004d);

}
.html{
    width: 80%;
    animation: html 3s;
}
.css{
    width: 75%;
    animation: css 3s;
}
.php{
    width: 60%;
    animation: php 3s;
}
.Javascript{
    width: 80%;
    animation: Javascript 3s;
}
.C{
    width: 85%;
    animation: C 3s;
}
.CPP{
    width: 85%;
    animation: CPP 3s;
}
.Java{
    width: 90%;
    animation: Java 3s;
}
.NET{
    width: 85%;
    animation: NET 3s;
}
@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}
@keyframes php {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes Javascript {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes C {
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes CPP {
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes Java {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes NET {
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
/* .contact{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
}
.contact .button1{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.contact .button1:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
} */
.contact{
    width: 100%;
    padding: 80px 0px;
    background-color: #191919;
}
.contact img{
    height: auto;
    width: 430px;
}
.contact-form{
    width: 650px;
}
.contact-form h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.contact-form p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.contact-form form{
    position: relative;
}
.contact-form form input,
form textarea{
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    background: #101010;
    color: #fff;
    font-size: 18px;
    margin-bottom: 0.7rem;
    border-radius: 10px;
}
.contact-form textarea{
    resize: none;
    height: 200px;
}
.contact-form .btn{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 10px;
    transition: .4s;
    width: 220px;
}
.contact-form .btn:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.contact-form a{
    text-decoration: none;
    color: #c55e9a;
    font-weight: bold;
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;

}
footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50px;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.end{
    position: absolute;
    color: #f9004d;
    bottom: 35px;
    font-size: 14px;
}